

.colors {
-fx-background-color: #EB8E00;
-fx-text-fill: white;
}


.zoeken {
-fx-background-image: url("zoek.png");
-fx-background-size: cover;
-fx-background-repeat: no-repeat;
-fx-background-color: #5CA32A;
}

.beheer {
-fx-background-image: url("wiel.png");
-fx-background-size: cover;
-fx-background-repeat: no-repeat;
-fx-background-color: #5C032A;
}

.terugbrengen {
-fx-background-image: url("arrow.png");
-fx-background-size: cover;
-fx-background-repeat: no-repeat;
-fx-background-color: #D83F1F;
}
.back{
-fx-background-image: url("tuin.png");
-fx-background-position: bottom;
-fx-background-size: cover;
-fx-background-repeat: no-repeat;
}

.back_topZoek
{
  -fx-background-color: #5CA32A;
  -fx-height: 200px;
}

.back_topUitlening
{
  -fx-background-color: #D83F1F;
  -fx-height: 200px;
  -fx-background-size: cover;
}

.back_topBeheer
{
  -fx-background-color: #5C032A;
  -fx-height: 200px;
  -fx-background-size: cover;
}

.home_zoek{
-fx-background-image: url("home_klein.png");
-fx-background-size: cover;
-fx-background-repeat: no-repeat;
-fx-background-color: #5CA32A;

}

.home_uitlening{
-fx-background-image: url("home.png");
-fx-background-size: cover;
-fx-background-repeat: no-repeat;
-fx-background-color: #D83F1F;

}

.home_beheer{
-fx-background-image: url("home.png");
-fx-background-size: cover;
-fx-background-repeat: no-repeat;
-fx-background-color: #5C032A;

}

.treeView 
{
  -fx-font: 12pt "Arial";
}

.border_collor{
    -fx-border-color:black;
    
}

.ItemBeheerButton{
    -fx-background-image: url("ItemButton.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.LlnBeheerButton{
    
    -fx-background-image: url("LlnButton.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.WachtwoorBeheerButton{
    
    -fx-background-image: url("WachtwoordButton.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;

}

.AddButton{
    -fx-background-image: url("Add.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.DeleteButton{
    -fx-background-image: url("Delete.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.EditButton{
    -fx-background-image: url("edit.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.ExcelButton{
    -fx-background-image: url("excel.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    
}

.DeleteAllButton{
    -fx-background-image: url("DeleteAll.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.addBoek{
    -fx-background-image: url("addBoek.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.addCd{
    -fx-background-image: url("addCd.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.addFilm{
    -fx-background-image: url("addFilm.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.addSpel{
    -fx-background-image: url("addSpel.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.addTas{
    -fx-background-image: url("addTas.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}